<div id="page_wrapper">
    <div id="profile_page">
        <%= image_tag "Bjørn.jpg" %>
    </div>

    <div id="content">
        <h1>Heia, æ hete Bjørn.</h1>
        <p>Æ studere informatikk på 3.åre no, å tar sikte på å ta Mastergrad.</p>
        <p>No prøve æ mæ på MacKenzie Child si 12-in-12 Challenge. Deinne uka laga vi dein hær lille bloggen; d va arti å lærerikt.</p>
        <p>Sjækk mæ ut på <a href="https://instagram.com/fatmanbhk">Instagram</a>
        eller <a href="https://facebook.com/profile.php?id=683235096">Facebook</a></p>
    </div>
</div>